# Node modules
node_modules/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build files
/build/
/dist/

# OS files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/

# Misc
*.swp
*.swo
*.swn
